[package]
name = "hcor"
version = "1.0.2"
authors = ["Cedric Hutchings <cedhut02@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"

uuid = { version = "0.8", features = ["v4", "serde"] }
chrono = { version = "0.4", features = [ "serde" ] }
rand = "0.7"

futures = { version = "0.3", features = ["compat"] }
regex = "1.3"
lazy_static = "1.4"

log = "0.4"

[dependencies.reqwest]
version = "0.10"
optional = true
features = [ "json" ]


[lib]
name = "hcor"

[features]
client = ["reqwest"]
